body {
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'KleeOne-Regular';
    user-select: none;
}

#main-title {
    font-family: 'RampartOne', sans-serif;
    width: 100%;
    text-align: center;
}

#keyboard {
    margin: auto;
    width: fit-content;
}

.row {
    display: flex;
}

#row2 {
    position: relative;
    left: 25px;
}

#row3 {
    position: relative;
    left: 50px;
}

@keyframes gearturn {
    to {
        background-position: 64px 0;
    }
}

#keyboard .key {
    position: relative;
    font-family: 'KleeOne-SemiBold';
    font-size: large;
    background-color: white;
    color: black;
    box-shadow: #d1d8e0 0px 5px 0px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    margin: 4px;
    user-select: none;
}

#keyboard .key .label {
    position: absolute;
}

#keyboard .key .item {
    position: absolute;
    display: none;

    width: 50px;
    height: 50px;
    z-index: 2;
}

#keyboard .key .item.active {
    display: block;
}

#keyboard.second-image .key .item {
}

/* Button press */

@keyframes clickfade {
    from {
        background-color: #fed330;
    }
    to {
        background-color: white;
    }
}

#keyboard .key.fade {
    animation: clickfade 0.5s 1;
}

#keyboard .key.active {
    top: 4px;
    box-shadow: #d1d8e0 0px 1px 0px;
}

#numbar-details {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#number-bar {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

.num-slot {
    position: relative;
    font-family: 'KleeOne-SemiBold';
    font-size: large;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    margin: 4px;
    user-select: none;
}

.num-slot.active {
    top: 5px;
}

.num-slot.selected {
    border: 4px solid #fed330;
    padding: 3px;
}
